{{ form_start(OrdinateurForm) }}
<div class="form_errors">
	{{ form_errors(OrdinateurForm) }}
</div>
<div class="row">
	<div class="col">
		{{ form_row(OrdinateurForm.marque) }}
	</div>
	<div class="col">
		{{ form_row(OrdinateurForm.modele) }}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col">
		{{ form_row(OrdinateurForm.dateSortie) }}
	</div>
	<div class="col">
		{{ form_row(OrdinateurForm.dateAcquisition) }}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col">
		{{ form_row(OrdinateurForm.systeme) }}
	</div>
	<div class="col">
		{{ form_row(OrdinateurForm.memoire) }}
	</div>
	<div class="col">
		{{ form_row(OrdinateurForm.disques) }}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col">
		{{ form_row(OrdinateurForm.cpu) }}
	</div>
	<div class="col">
		{{ form_row(OrdinateurForm.gpu) }}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col textarea">
		{{ form_row(OrdinateurForm.notes) }}
	</div>
</div>

{{ form_end(OrdinateurForm) }}
