{% extends 'main.html.twig' %}

{% block title %}GestionOrdinateurs
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('gestion-css') }}
{% endblock %}

{% block toolbar %}
	<a href="{{path('ajouter_ordinateur')}}" class="button-ajouter">Ajouter</a>
	<p>{{ nbOrdinateurs }}</p>
{% endblock %}

{% block body %}
	<ul class="container">
		{% if ordinateurs %}
			{% for ordinateur in ordinateurs %}
			<li class="item">
				<section>
					<a href="{{path('editer_ordinateur', { 'id': ordinateur.id })}}">Éditer</a>
					<a href="{{path('supprimer_ordinateur', { 'id': ordinateur.id })}}">Supprimer<a>
				</section>
				<article {{ordinateur.etatDisponible ? "class='item disponible'" : "class='item notDisponible'"}}>
					<h3>{{ordinateur.numeroSerie}}
						-
						{{ordinateur.marque}}
						{{ordinateur.modele}}</h3>
						<hr/>
					<p>OS : {{ordinateur.systeme}} RAM : {{ordinateur.memoire}} Go</p>
					<p>{{ordinateur.cpu}}</p>
					<p>{{ordinateur.gpu}}</p>
					<p>Stockage : {{ordinateur.disques}} Go</p>
				</article>
			</li>
			{% endfor %}
		{% endif %}
	</ul>
{% endblock %}
