{% extends 'main.html.twig' %}

{% block title %}GestionOrdinateurs
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('gestion-css') }}
	{{ encore_entry_link_tags('app-css') }}
{% endblock %}
{% block toolbar %}
	<p>{{ nbOrdinateurs }}</p>
{% endblock %}
{% block body %}
	<ul class="container">
		<li class="button-ajouter">
			<a href="{{path('ajouter_ordinateur')}}" class="button-ajouter">Ajouter</a>
		</li>
		{% if ordinateurs %}
			{% for ordinateur in ordinateurs %}
				<li {{ordinateur.etatDisponible ? "class='item isDisponible'" : "class='itemisAffected'"}}>
					<section>
						<a href="{{path('editer_ordinateur', { 'id': ordinateur.id })}}">Éditer</a>
						<a href="#">Supprimer</a>
					</section>
					<h2>{{ordinateur.numeroSerie}}
						-
						{{ordinateur.marque}}
						{{ordinateur.modele}}</h2>
					<p>OS : {{ordinateur.systeme}} RAM : {{ordinateur.memoire}} Go</p>
					<p>{{ordinateur.cpu}}</p>
					<p>{{ordinateur.gpu}}</p>
					<p>HDD(s) : {{ordinateur.disques}}	Go</p>
				</li>
			{% endfor %}
		{% endif %}
	</ul>
{% endblock %}
