{% extends 'main.html.twig' %}

{% block title %}GestionOrdinateurs
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('gestion-css') }}
	{{ encore_entry_link_tags('app-css') }}
{% endblock %}
{% block toolbar %}
	<p>{{ nbOrdinateurs }}</p>
{% endblock %}
{% block body %}
	{% if ordinateurs %}
		<ul class="container">
			<li class="button-ajouter">
				<a href="{{path('app_ajouter_ordinateur')}}" class="button-ajouter">Ajouter</a>
			</li>
			{% for ordinateur in ordinateurs %}
				<li {{ordinateur.etatDisponible ? "class='item isDisponible'" : "class='item isAffected'"}}>
					<section>
						<a href="#">Éditer</a>
						<a href="#">Supprimer</a>
					</section>
					<h2>{{ordinateur.numeroSerie}}
						-
						{{ordinateur.marque}}
						{{ordinateur.modele}}</h2>
					<ul class="sub-container">
						<li>OS :
							{{ordinateur.systeme}}</li>
						<li>RAM :
							{{ordinateur.memoire}}
							Go</li>
					</ul>
					<p>{{ordinateur.cpu}}</p>
					<p>{{ordinateur.gpu}}</p>
					{% if ordinateur.disques %}
						<ul class="sub-container">
							<li>HDDs :
							</li>
							{% for disque in ordinateur.disques %}
								<li>
									{{disque}}
									Go
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
