{% extends 'main.html.twig' %}

{% block title %}GestionCellulaires
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('gestion-css') }}
	{{ encore_entry_link_tags('app-css') }}
{% endblock %}

{% block toolbar %}
	<a href="{{path('ajouter_cellulaire')}}" class="button-ajouter">Ajouter</a>
	<p>{{ nbCellulaires }}</p>
{% endblock %}

{% block body %}
	<ul class="container">
		{% if cellulaires %}
			{% for cellulaire in cellulaires %}
				<li class="item">
					<section>
						<a href="{{path('editer_cellulaire', { 'id': cellulaire.id })}}">Éditer</a>
						<a href="#">Supprimer</a>
					</section>
					<article {{cellulaire.etatDisponible ? "class='item isDisponible'" : "class='itemisAffected'"}}>
						<h3>{{cellulaire.numeroSerie}}
							-
							{{cellulaire.marque}}
							{{cellulaire.modele}}</h3>
						<hr/>
						<p>OS : {{cellulaire.systeme}} RAM : {{cellulaire.memoire}} Go</p>
						<p>{{cellulaire.cpu}}</p>
						<p>{{cellulaire.gpu}}</p>
						<p>Stockage : {{cellulaire.stockage}}	Go</p>
					</article>
				</li>
			{% endfor %}
			{% if nbCellulaires > 10 %}
			{% endif %}
		{% endif %}
	</ul>
{% endblock %}
