{% extends 'main.html.twig' %}

{% block title %}GestionPeripheriques
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('gestion-css') }}
	{{ encore_entry_link_tags('app-css') }}
{% endblock %}

{% block toolbar %}
	<a href="{{path('ajouter_peripherique')}}" class="button-ajouter">Ajouter</a>
	<p>{{ nbPeripheriques }}</p>
{% endblock %}

{% block body %}
	<ul class="container">
		{% if peripheriques %}
			{% for peripherique in peripheriques %}
			<li class="item">
				<section>
					<a href="{{path('editer_peripherique', { 'id': peripherique.id })}}">Éditer</a>
					<a href="{{path('supprimer_peripherique', { 'id': peripherique.id })}}">Supprimer<a>
				</section>
				<article {{peripherique.etatDisponible ? "class='item disponible'" : "class='item notDisponible'"}}>
					<h3>{{peripherique.numeroSerie}}
						-
						{{peripherique.marque}}
						{{peripherique.modele}}</h3>
						<hr/>
					<p>{{peripherique.type}}</p>
				</article>
			</li>
			{% endfor %}
		{% endif %}
	</ul>
{% endblock %}
