<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Outils Informatiques
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('formulaire-css') }}
			{{ encore_entry_link_tags('gestion-css') }}
			{{ encore_entry_link_tags('app-css') }}
		{% endblock %}
	</head>
	<body>
		<div id="sidenav">
			<a href="/" class="accordion">Menu Principale</a>
			<hr/>
			<a href="#" class="accordion">Gestion</a>
			<div class="panel">
				<a href="/ordinateurs" class="item">Ordinateurs</a> 
				<a href="/cellulaires" class="item">Cellulaires</a>
				<a href="/peripheriques" class="item">Peripheriques</a>
			</div>
			<a href="/affectation/appareil" class="accordion">Affectation</a>
			<a href="#" class="accordion">Historique</a>
			<div class="panel">
				<a href="#" class="item">Affectations</a>
				<a href="#" class="item">Appareils</a>
				<a href="#" class="item">Utilisateurs</a>
				<a href="#" class="item">Cellulaires</a>
				<a href="#" class="item">Ordinateurs</a>
				<a href="#" class="item">Peripheriques</a>
			</div>
			<a href="#" class="accordion">Contact</a>
			<hr/>
			<div class="panel"></div>
			<a href="/{{app.user ? 'logout' : 'login'}}" class="accordion">{{app.user ? 'Déconnexion' : 'Connexion'}}</a>
			<a href="/register" class="accordion">Inscription</a>
		</div>
		<div id="toolbar"> {% block toolbar %}{% endblock %}
		</div>
		<header>
			{# read and display all flash messages #}
			{% for label, messages in app.flashes %}
			    {% for message in messages %}
			        <div class="flash-{{ label }}">
			            {{ message }}
						<button type="button" class="btn-close" aria-label="Close">&times;</button>
			        </div>
			    {% endfor %}
			{% endfor %}
		</header>
		<main> 
			{% block body %}{% endblock %}
		</main>
		<footer>
			<p>&copy; Fournier 2024</p>
		</footer>
		<scripts>
			{{ encore_entry_script_tags('app-js') }}
			{{ encore_entry_script_tags('sidenav-js') }}
			{{ encore_entry_script_tags('btn-actions-js') }}
			{% block javascripts %}
			{% endblock %}
		</scripts>
	</body>
</html>
